<ul>
    <li>Resistor</li>
    <li>Battery</li>
    <li>Motherboard</li>
    <li>RAM</li>
    <li>GPU</li>
    <li>Capacitor</li>
    <li>Micro Controller</li>
    <li>Soldering Iron</li>
</ul>

@Html.ActionLink("Home", "Index", "Home")